.side-menu {
  color: #fff;
  width: 300px;
  padding: 20px;
}
.logo {
  display: flex;
  color: #80b3ff;
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  margin-left: 10px;
  color: #80b3ff;
  position: relative;
}

.title::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, #80b3ff, transparent);
  bottom: -5px;
  left: 0;
}
ul {
  list-style: none;
  padding: 0;
}

li {
  cursor: pointer;
  font-size: 1.2rem;
  padding: 5px 0;
  transition: background-color 0.3s ease-in-out;
  color: #73777b;
}

li:hover {
  color: #80b3ff;
}
.category-link {
  cursor: pointer;
  font-size: 1.2rem;
  padding: 15px 0;
  transition: background-color 0.3s ease-in-out;
  color: #73777b;
  text-decoration: none;
}
.category-link:hover {
  color: #80b3ff;
}

.coffee-link {
  border-bottom: 2px solid #008080;
}
